body {
    font-family: monospace;
    color: black;
    background: white;
    white-space: nowrap;
    margin: 1em;
}

p {
    margin: 1em 0;
}

table {
    border-collapse: collapse;
}

td {
    padding: 0 1.5em 0 0;
    vertical-align: top;
}

a:link {
    text-decoration: underline;
    color: #003;
}
a:visited {
    color: #003;
}

.visible {
    visibility: visible;
    opacity: 1;
}
.hidden {
    opacity: 0;
    visibiliy: hidden;
    transition: visibility 0s, opacity 1s ease;
}

.result {
    position: absolute;
    background: white;
    padding: 0 1em;
    pointer-events: none;
}

.mem-stale {
    color: #888;
}
.mem-loading {
    background: #ddd;
}
.mem-changing {
    font-weight: bold;
}
.mem-error {
    background: #fcc;
}
.mem-pending {
    background: #ff6;
}
