body {
    font-family: monospace;
    color: black;
    background: white;
    white-space: nowrap;
    margin: 1em 1em 3em 1em;
}

p {
    margin: 1em 0;
}

table {
    border-collapse: collapse;
}
td {
    padding: 0 1.5em 0 0;
    vertical-align: top;
}
th {
    font-weight: bold;
    text-align: left;
    padding: 1em 0 0 0;
}

a:link {
    text-decoration: underline;
    color: #153B98;
}
a:visited {
    color: #153B98;
}

ul {
    list-style: none;
    padding: 0px;
}
ul li:before {
    content: '*';
    margin: 0 0.75em;
}

.visible {
    visibility: visible;
    opacity: 1;
}
.hidden {
    opacity: 0;
    visibiliy: hidden;
    transition: visibility 0s, opacity 1s ease;
}

.result {
    position: absolute;
    background: white;
    padding: 0 1em;
    pointer-events: none;
}

.mem-stale {
    color: #D0D0D0;
}
.mem-loading {
    background: #ddd;
}
.mem-changing {
    font-weight: bold;
}
.mem-error {
    background: #E8ABAB;
}
.mem-pending {
    background: #ff6;
}
